<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="CalculationServer.CalculationService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:9999/CalculationService" />
					</baseAddresses>
				</host>

				<endpoint
				  address=""
				  binding="basicHttpBinding"
				  contract="CalculationInterfaces.ICalculationService"
				  name="CalculationServiceEndpoint" />

				<endpoint
				  address="mex"
				  binding="mexHttpBinding"
				  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>